@import './reset';
@import './variables';

@import url('https://rsms.me/inter/inter.css');

*,
::after,
::before {
  box-sizing: border-box;
}

body,
html {
  background-color: #edf2f7;
  font-family: $font-sans;
  font-weight: 400;
}

/** Utilities */

.container {
  max-width: 970px;
}

.font-mono {
  font-family: $font-mono;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1 1 0%;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-4 {
  margin-top: 1.6rem;
}

.mb-2 {
  margin-bottom: 0.8rem;
}

.mb-6 {
  margin-bottom: 2.5rem;
}

.mx-1 {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.min-h-screen {
  min-height: 100vh;
}

.w-full {
  width: 100%;
}

.max-w-screen-md {
  max-width: 450px;
}

.border-t {
  border-color: #a0aec0;
  border-style: solid;
  border-top-width: 1px;
}

.border-dashed {
  border-style: dashed;
}

.text-gray-600 {
  color: #718096;
}

.text-center {
  text-align: center;
}

.text-sm {
  font-size: 12px;
}

.text-lg {
  font-size: 18px;
}

.text-2xl {
  font-size: 32px;
}

.leading-normal {
  line-height: 1.4;
}
