/** Autocomplete specific styles */

$border-color: #cbd5e0;
$border-color-active: #a0aec0;
$border-color-menu: $border-color-active;
$border-radius: 0.2rem;
$font-size: 1rem;
$font-size-sm: $font-size * 0.9;

@keyframes AutocompleteSpinAnimation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.autocomplete {
  display: inline-flex;
  min-width: 20rem;
  position: relative;

  .autocomplete-icon {
    fill: currentColor;
    height: auto;
    width: 16px;
  }

  .autocomplete--search {
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    min-width: 100%;
    position: relative;
    z-index: 20;

    .autocomplete--search-input {
      appearance: none;
      background: none;
      border-width: 0;
      font-size: $font-size;
      padding: 0.8rem 1rem;

      &::placeholder {
        color: #a0aec0;
      }

      &:focus {
        outline: none;
      }
    }

    .autocomplete--search-actions {
      align-items: center;
      bottom: 0;
      display: flex;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
    }

    .autocomplete--search-clear,
    .autocomplete--search-open {
      align-items: center;
      appearance: none;
      background: none;
      border-width: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      padding: 0;

      &:focus {
        outline: none;
      }
    }

    .autocomplete--search-clear {
      border-radius: 100%;
      color: #4a5568;
      height: 1.8rem;
      margin-right: 0.8rem;
      width: 1.8rem;

      &:hover {
        background-color: #edf2f7;
      }
    }

    .autocomplete--search-open {
      border-bottom-right-radius: $border-radius;
      border-left: 1px solid $border-color;
      border-top-right-radius: $border-radius;
      color: #718096;
      width: 2.6rem;

      &:hover {
        color: #2d3748;
      }
    }
  }

  .autocomplete--spin-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 2.6rem;

    .autocomplete--spin {
      animation: AutocompleteSpinAnimation 0.6s infinite linear;
      border: 2px solid #e2e8f0;
      border-radius: 50%;
      border-top: 2px solid #4299e1;
      display: block;
      height: 1.2rem;
      width: 1.2rem;      
    }
  }

  &.autocomplete-isopen {
    .autocomplete--search {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.autocomplete-isfocus {
    .autocomplete--search {
      border-color: $border-color-active;
    }
  }

  .autocomplete--items {
    background-color: #fff;
    border: 1px solid $border-color-menu;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    left: 0;
    margin-top: -2px;
    max-height: 200px;
    overflow-y: auto;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    z-index: 10;
  }

  .autocomplete--item {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    display: flex;

    .autocomplete--item-handler {
      appearance: none;
      background: none;
      border: 1px solid transparent;
      color: #4a5568;
      cursor: pointer;
      display: flex;
      font-size: $font-size-sm;
      padding: 0.6rem 0.8rem;
      width: 100%;
    
      &:focus {
        outline: none;
      }
    }

    &:hover,
    &.autocomplete--item-hover {
      .autocomplete--item-handler {
        background-color: #edf2f7;
        color: #2d3748;
      }
    }

    &.autocomplete--item-active {
      .autocomplete--item-handler {
        background-color: #b2f5ea;
        color: #234e52;
      }
    }
  }
}
